::placeholder {
  color: var(--placeholder);
  opacity: 1;
}

form {
  width: fit-content;
}

input, button {
  border: 1px solid var(--border);
  background: var(--second-bg);
  color: var(--main-fg);
  display: block;
}

input {
  padding: 5px 12px;
  max-width: 700px;
  height: 70px;
  font-size: 40px;
}

input:focus {
  outline: none;
  border-color: var(--grey);
}

button {
  margin: auto;
  width: fit-content;
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
  padding: 2px;
}

body {
  margin: auto;
  width: fit-content;
  margin-top: 300px;
}

#bottom {
  background: var(--second-bg);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 12px 0px;
}

#bottom a {
  font-size: 25px;
  text-decoration: none;
  color: var(--blue);
  margin: 0px 5px;
}

#bottom a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 70px;
  text-align: center;
}

@media only screen and (max-width: 750px) {
  input {
    font-size: 5vw;
    height: auto;
  }
}
